body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px grey;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #023E8A;
    border: none;
}

.dropdownMenu{
    position: absolute;
    right: 35px;
    top: 65px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    z-index: 999;
}

.dropdownMenu a{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: black;
}

.dropdownMenu>a:hover{
    background-color: grey;
}

.display{
    display: flex;
}



.links {
  font-size: 18px;
}

nav #homeBtn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 0 black;
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #menuBtn {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px black;  
  cursor: pointer;
  margin-right: 15px;
}

#homeBtn:active,
#menuBtn:active {
  transform: translate(2, 2);
  box-shadow: 0px 0px black;
}

.container{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock{
  border: 1px solid;
  width: 65%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 38, 38);
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgb(26, 25, 25),12px 12px 0 rgb(21, 21, 21);
}

#time{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 100px;
  color: white;
  font-weight: 700;
  height: 70%;
}

#clock div:not(#time){
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  gap: 85px;
  color: white;
  font-size: 20px;
  margin-right: 150px;
}

@media screen and (min-width:1020px) and (max-width:1250px) {
  #clock{
    height: 250px;
  }
  #time{
    font-size: 80px;
  }
  #clock div:not(#time){
    margin-right: 120px;
    font-size: 15px;
    gap: 70px;
  }
}

@media screen and (min-width:830px) and (max-width:1020px) {
  #clock{
    height: 230px;
  }
  #time{
    font-size: 65px;
  }
  #clock div:not(#time){
    margin-right: 100px;
    font-size: 13px;
    gap: 60px;
  }
}

@media screen and (min-width:680px) and (max-width:830px) {
  #clock{
    height: 200px;
  }
  #time{
    font-size: 50px;
  }
  #clock div:not(#time){
    margin-right: 90px;
    font-size: 12px;
    gap: 40px;
  }
}
@media screen and (min-width:580px) and (max-width:680px) {
  #clock{
    height: 180px;
  }
  #time{
    font-size: 45px;
  }
  #clock div:not(#time){
    margin-right: 80px;
    font-size: 11px;
    gap: 30px;
  }
}
@media screen and (min-width:490px) and (max-width:580px) {
  #clock{
    height: 160px;
  }
  #time{
    font-size: 40px;
  }
  #clock div:not(#time){
    margin-right: 60px;
    font-size: 10px;
    gap: 30px;
  }
}
@media screen and (min-width:320px) and (max-width:490px) {
  #clock{
    height: 140px;
  }
  #time{
    font-size: 30px;
  }
  #clock div:not(#time){
    margin-right: 40px;
    font-size: 10px;
    gap: 10px;
  }
}



