body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px grey;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #023E8A;
  border: none;
}

.dropdownMenu{
    position: absolute;
    right: 35px;
    top: 65px;
    width: 150px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    z-index: 999;
}

.dropdownMenu a{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.dropdownMenu>a:hover{
    background-color: grey;
}

.display{
    display: flex;
}

.links {
  font-size: 18px;
}

nav #homeBtn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 0 black;
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #menuBtn {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px black;  
  cursor: pointer;
  margin-right: 15px;
}

#homeBtn:active,
#menuBtn:active {
  transform: translate(2, 2);
  box-shadow: 0px 0px black;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1{
    text-align: center;
}

#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.button{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

h2 {
    text-align: center;
    line-height: 2;
    font-size: 28px;
    font-weight: 800;
}

h2>span{
    display: block;
    font-weight: 500;
    text-align: center;
}

#grey{background-color: grey;}
#white{background-color: white;}
#lightskyblue{background-color: lightskyblue;}
#yellow{background-color: yellow;}


#resetBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(244, 67, 67);
}

.animate{
    animation: rotate 0.5s  linear ;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

